@model Cart
@{
    ViewData["Title"] = "Update";
}

<form method="post">
    <div class="mb-3">
        <label asp-for="Title"></label>
        <input asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description1"></label>
        <input asp-for="Description1" />
        <span asp-validation-for="Title"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description2"></label>
        <input asp-for="Description2" />
        <span asp-validation-for="Description2"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Icon"></label>
        <input asp-for="Icon" />
        <span asp-validation-for="Icon"></span>
    </div>
    <button type="submit" value="update">Update</button>
</form>


<h1>bunu kopyala icon ucun:</h1><br />
<h1>fa-solid fa-computer fa-6x</h1>